.login-overlay{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(72, 68, 68, 0.92);
    z-index: 1000;
    transition: top 0.5s;
}

.form-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(230deg, rgba(163,198,255,1) 29%, rgba(255,230,154,1) 100%);
    border: #2d90d6 2px solid;
    border-radius: 5px;
    padding: 10px;
}


.login-overlay form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px;
}

form button{
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    outline: none;
    width: auto;
    height: auto;
    padding: 6px 13px 6px 13px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #2d90d6;
    color: #fff;
}

.close-button{
    width: 20px;
    height: 20px;
    background-color: #f84040;
    color: white;
    font-weight: 900;
    border-radius: 3px;
    position: relative;
    left: 94%;
    top: 0;
    cursor: pointer;
}

.close-button:hover{
    background-color: #c70303;
}

form h2{
    margin-bottom: 10px;
}

form input{
    width: 100%;
    height: 30px;
    border: #2d90d6 2px solid;
    border-radius: 5px;
    background-color: #dbf1ff;
    margin-bottom: 20px;
}
form button:hover,
form button:focus{
    background-color: rgb(0, 99, 170)
}